@import "normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

:root {
  --primary: #fe2c55;

  //Default Layout
  --default-layout-header-height: 60px;
  --default-layout-sidebar-width: 356px;
  --default-layout-width: 1150px;

  --text-color: #333;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  color: var(--text-color);
}

button,
input,
[tabindex] {
  outline: none;
  border: none;
}

a[href] {
  color: var(--text-color);
  text-decoration: none;
}
